/* Tailwind config  */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #2a2a2a;
}